@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

// font styles
$serif-font: 'Merriweather', serif;
$sans-serif-font: 'Open Sans', sans-serif;

// colors
$black: #323232;
$teal: #52908b;
$purple: #5d3548;
$red: #e7472e;
$gray: #e5e2ca;

// misc
@mixin centered {
  margin-left: auto;
  margin-right: auto;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
  font-family: $serif-font;
  color: white;
  background-color: $black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif-font;
  color: white;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
  margin-top: 1rem;
  @include breakpoint(large) {
    font-size: 5rem;
  }
}

h2 {
  font-size: 1.2rem;
  @include breakpoint(large) {
    font-size: 1.5rem;
  }
}

.fixed {
  position: fixed;
  top: 0;
}

.blank_space {
  height: 30vh;
}

.container {
  padding: 0 5%;
  @include breakpoint(large) {
    padding: 0 10%;
  }
  overflow: scroll;
  @include centered;
}

#sections {
  max-width: 560px;
  margin: 0 auto;
}

#graphic section {
  max-width: 90%;
  margin: auto;
  margin-bottom: 60vh;
  margin-top: 0vh;
  opacity: 0;
  background-color: rgba(50,50,50,0.6);
  padding: 15vh 0 0;
  opacity: 0;
}

#graphic section:last-of-type {
  margin-bottom: 100vh;
}

#step7 { //header section
  text-align: center;
  @include centered;
  @include breakpoint(medium) {
    max-width: 780px !important;
    width: 780px;
  }
  @include breakpoint(large) {
    max-width: 1048px !important;
    width: 1048px;
  }
}

.header-step {
  @include breakpoint(medium) {
    max-width: 780px !important;
    width: 780px;
  }
  @include breakpoint(large) {
    max-width: 1048px !important;
    width: 1048px;
  }
}

p {
  font-weight: 300;
  max-width: 560px;
  @include centered;
}

img {
  max-width: 560px;
}

.vis-container {
  display: flex;
  justify-content: center;
}

#vis {
  position: fixed;
  bottom: 0vh;
  z-index: 1;
  height: 60vh;
  width: 100vw;
  @include breakpoint(medium) {
    height: 80vh;
  }
  & > svg {
    @include centered;
  }
}

.vis-small-container {
  max-width: 560px !important;
  bottom: 0vh;
  @include centered;
  @include breakpoint(medium) {
    max-width: 780px !important;
  }
}

.bridge-container {
  display: flex;
  height: 80vh;
  margin-bottom: -80vh;
}

#bridge_illo {
  fill: $teal;
  width: 100vw;
  align-self: center;
  @include breakpoint(medium) {
    align-self: flex-end;
  }
}

#newspaper_illo {
  display: none;
}

#bridge-text {
  margin: 10vh auto 0;
  text-align: center;
  font-family: $sans-serif-font;
  width: 360px;
  display: none;
  position: relative;
  z-index: 3;
  @include breakpoint(medium) {
    width: 700px;
    margin: 20vh auto 0;
  }
}

.bridge-quote {
  background-color: $red;
  padding: 10px;
  font-size: 2rem;
  color: white;
}

.bridge-attrib {
  font-size: .8rem;
  width: 360px;
  margin: 10px auto 0;
  @include breakpoint(medium) {
    width: 400px;
  }
}

#interactive-footer {
  position: relative;
  z-index: 2;
  background-color: $teal;
  color: white;
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    // justify-content: space-between;
    padding-top: 5vh;
    padding-bottom: 2vh;
  }
  p {
    color: white;
    max-width: 5000px;
  }
  #states-interactive {
    max-width: 5000px;
  }
  footer {
    font-family: $sans-serif-font;
    font-size: 12px;
    border-top: 1px solid white;
    padding: 10px 0 0;
  }
}

#dots-container {
  position: fixed;
  top: 10vh;
  bottom: 10vh;
  right: 2vw;
  z-index:3 ;
}

#dots {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1rem;
  & a {
    color: white;
  }
}

.fa-sm {
  font-size: .6rem !important;
  opacity: 0.5;
}

.active-circle {
  // color: $red;
  opacity: 1;
  font-size: .9rem !important;
}

/*styles to make the svg responsive*/
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  width: 100%;
  @include centered;
}
.svg-container {
  position: relative;
  width: 100%;
  padding-bottom: 80%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
  @include centered;
  font-family: $sans-serif-font;
  & text {
    fill: white;
    font-weight: 300;
  }
  color: white;
}

.axis {
  stroke: white;
  stroke-width: 1px;
  fill: none;
}

.y .tick line {
  opacity: 0.5 !important;
}
