@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

// font styles
$serif-font: 'Merriweather', serif;
$sans-serif-font: 'Open Sans', sans-serif;

// colors
$black: #323232;
$teal: #52908b;
$purple: #5d3548;
$red: #e7472e;
$gray: #e5e2ca;

// misc
@mixin centered {
  margin-left: auto;
  margin-right: auto;
}

@mixin linearGradient($top, $bottom){
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
  font-family: $serif-font;
  color: white;
  background-color: $black;
  overflow-x: hidden;
}

p {
  font-weight: 300;
  max-width: 560px;
  @include centered;
  @include breakpoint(medium only) {
    font-size: 20px;
  }
  @include breakpoint(small only) {
    font-size: 15px;
  }
  & a {
    color: white;
    border-bottom: 1px solid white;
    &:visited {
      color: white;
    }
    &:hover {
      color: $teal;
      border-bottom: 1px solid $teal;
    }
  }
}

img {
  max-width: 560px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif-font;
  color: white;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
  margin-top: 1rem;
  @include breakpoint(medium only) {
    font-size: 6rem;
    line-height: 6rem;
  }
  @include breakpoint(large) {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
}

h2 {
  font-size: 1.2rem;
  @include breakpoint(medium only) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  @include breakpoint(large) {
    font-size: 1.5rem;
  }
}

// animations for loading screen
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: $black;
    & #loader {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        z-index: 1500;
        border: 0px solid transparent;
    }
    & #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border: 3px solid transparent;
        border-top-color: $teal;
        border-right-color: $teal;
        border-left-color: $teal;
        border-radius: 50%;
        -webkit-animation: spin 1.5s linear infinite;
        animation: spin 1.5s linear infinite;
    }
    & #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border: 3px solid transparent;
        border-top-color: $red;
        border-right-color: $red;
        border-radius: 50%;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
    }
    & .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: $black;
        z-index: 999;
    }
}

.loaded {
  & #loader-wrapper {
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 1s 0.6s ease-out;
              transition: all 1s 0.6s ease-out;
  }
  & #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
  }
}

.scroll-down {
  font-family: $sans-serif-font;
  width: 100vw;
  text-align: center;
  position: fixed;
  z-index: 5;
  bottom: 20vh;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  @include breakpoint(medium) {
    bottom: 5vh;
  }
}

.container {
  padding: 0 5%;
  @include breakpoint(large) {
    padding: 0 10%;
  }
  @include centered;
}

#sections {
  max-width: 1048px;
  margin: 0 auto;
  z-index: 2;
  & .step {
    height: auto !important;
    max-width: 92vw;
    @include breakpoint(medium) {
      max-width: 560px;
    }
    @include breakpoint(large) {
      margin: auto;
    }
    z-index: 2;
    & p {
      background-color: rgba(50,50,50,0.6);
    }
    & .space {
      height: 55vh;
      @include breakpoint(medium) {
        height: 60vh;
      }
    }
    .space-2 {
      height: 45vh;
      @include breakpoint(medium) {
        height: 60vh;
      }
    }
  }
}

#step10 { //header section
  left: 0 !important;
  text-align: center;
  @include breakpoint(medium) {
    max-width: 680px !important;
    width: 680px !important;
  }
  @include breakpoint(large) {
    max-width: 1048px !important;
    width: 1048px !important;
  }
}

// increases width of #sections to accomodate header section
.header-step {
  @include breakpoint(medium) {
    max-width: 780px !important;
    width: 780px !important;
  }
  @include breakpoint(large) {
    max-width: 1048px !important;
    width: 1048px !important;
  }
}

.vis-container {
  @include centered;
  width: 100vw;
  @include breakpoint(large) {
    display: flex;
    justify-content: center;
  }
  & #vis {
    @include centered;
    position: fixed;
    left: 0;
    bottom: 6vh;
    z-index: 1;
    height: 55vh;
    width: 100vw;
    @include breakpoint(medium only) {
      bottom: 10vh;
    }
    @include breakpoint(medium) {
      height: 60vh;
    }
    & > svg {
      @include centered;
    }
  }
  & .vis-trigger {
    height: 60vh !important;
    @include breakpoint(medium) {
      height: 80vh !important;
    }
  }
  & .vis-small-container {
    max-width: 560px !important;
    bottom: 0vh;
    @include centered;
    @include breakpoint(medium) {
      max-width: 780px !important;
    }
  }
  & .bridge-container {
    display: flex;
    height: 80vh;
    margin-bottom: -80vh;
  }
  & #bridge_illo {
    fill: $teal;
    width: 100vw;
    align-self: center;
    @include breakpoint(medium) {
      align-self: flex-end;
    }
  }
  & #newspaper_illo {
    display: none;
    margin-top: 20vh;
    @include breakpoint(large) {
      margin-top: 0;
    }
  }
  & #bridge-text {
    margin: 0 auto;
    text-align: center;
    font-family: $sans-serif-font;
    width: 360px;
    display: none;
    position: relative;
    z-index: 3;
    @include breakpoint(medium) {
      width: 700px;
      margin: 20vh auto 0;
    }
  }
  & .bridge-quote {
    background-color: $red;
    padding: 10px;
    font-size: 2rem;
    color: white;
  }
  & .bridge-attrib {
    font-size: .8rem;
    width: 360px;
    margin: 10px auto 0;
    @include breakpoint(medium) {
      width: 400px;
    }
  }
}

// styles for states of industry interactive
.interactive-footer {
  margin-top: 0;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: $black;
  font-family: $sans-serif-font;
  color: white;
  z-index: 3;
  & .container {
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-bottom: 2vh;
  }
  & .interactive-head {
    @include centered;
    margin-bottom: 2rem;
    text-align: center;
    & h3 {
      font-size: 1.5rem;
      @include breakpoint(medium) {
        font-size: 24px;
      }
    }
  }
  & text {
    fill: white;
    font-weight: 300;
  }
  & p {
    font-size: 12px;
    max-width: 5000px;
  }
  & #usmap {
    width: 124%;
    margin-left: -12%;
    margin-bottom: 20px;
    strong {
      color: $black;
    }
  }
  & .map-legend {
    min-height: 100px;
    @include breakpoint(small only) {
      margin-bottom: 2rem;
    };
  }
  & #state-info {
    font-size: 13px;
  }
  & .row {
    margin-left: 0;
    margin-right: 0;
  }
  & .state-dropdown {
    color: $black;
    outline: 1px solid $teal;
    outline-offset: -1px;
    border: 1px solid $red;
    border-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 14px;
    margin-top: 20px;
    height: 1.7rem;
    padding-top: 0;
    padding-bottom: 0;
  }
  & #state-name-2 {
    font-size: 1.5rem;
  }
  & #state-bars {
    margin-top: 10px;
  }
  & .interactive-info {
    font-size: 14px;
    margin-bottom: 0;
  }
  & .interactive-chart-hed {
    font-size: 14px;
  }
  & .news-bar-text, .news-circ-text {
    text-transform: capitalize;
  }
  & #state-key {
    font-size: 12px;
    margin-bottom: 2rem;
    & .key-2004 {
      color: $red;
    }
    & .key-2014 {
      color: lighten($red, 20%);
    }
  }
  & .no-padding .columns {
    padding: 0;
  }
  & .input-group {
    margin: 20px 0 0;
  }
  & .form-control {
    border-radius: 0;
    margin-bottom: 0;
  }
  & #table-state {
    color: $teal;
    font-weight: 700;
  }
  & .top-margin {
    margin-top: 2rem;
    margin-bottom: .5rem;
  }
  & .sf {
    color: $teal;
    float: left;
  }
  & .teal {
    font-weight: 700;
    color: $teal;
  }
  & .paper-table {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 12px;
    margin-bottom: 2rem;
  }
  & .table-striped > tbody > tr:nth-of-type(even), table thead {
    background-color: $black;
  }
  & td {
    padding: .5rem !important;
    line-height: 1;
  }
  & .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: darken($teal, 20%);
  }
  & table thead {
    color: white;
  }
}

footer {
  font-family: $sans-serif-font;
  padding: 10px 0 0;
  font-size: 12px;
  @include breakpoint(medium only) {
    width: 70vw;
    margin-bottom: 40vh;
    @include centered;
  }
  @include breakpoint(large) {
    margin-bottom: 1rem;
  }
  & p {
    font-size: 12px;
  }
  & .footer-img {
    width: 300px;
    height: auto;
    margin-left: 130px;
    margin-bottom: 30px;
  }
}

.button {
  @include linearGradient($teal, darken($teal, 30%));
  width: 90vw;
  margin-bottom: 10vh;
  border: 1px solid darken($teal, 30%);
  @include breakpoint(medium) {
    width: 350px;
    margin-left: 105px;
  }
  position: relative;
  z-index: 20;
}

a.button:hover {
  @include linearGradient(lighten($teal, 30%), darken($teal, 20%));
}

#back-button {
  width: 100px;
  margin-left: 0;
  margin-bottom: 1rem;
  font-weight: 700;
}


// d3 styles

// styles to make the svg responsive
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  width: 100%;
  @include centered;
}

.svg-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%; // aspect ratio
  @include breakpoint(large) {
    padding-bottom: 80%;
  }
  vertical-align: top;
  overflow: hidden;
  @include centered;
  font-family: $sans-serif-font;
  & text {
    fill: white;
    font-weight: 300;
  }
  color: white;
}

.svg-container-state {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 53%; // aspect ratio
  vertical-align: top;
  overflow: hidden;
}

.axis {
  stroke: white;
  stroke-width: 1px;
  fill: none;
}

.y .tick line {
  opacity: 0.5 !important;
}

.tick text {
  font-size: 10px;
  @include breakpoint(large) {
    font-size: 12px;
  }
}

.circulation-bar-positive, .govt-bar, .corruption-bar {
  fill: $teal;
}

.circulation-bar-negative, .congress-bar, .state-bar, .la-bar, .bar-highlight {
  fill: $red;
}

.chart-key {
  font-size: 16px;
  @include breakpoint(medium only) {
    font-size: 12px;
  };
}

.pie {
  padding: 10px 0 0 10px;
  float: left;
}

.bar-2004 {
  fill: $red;
}

.bar-2016 {
  fill: lighten($red, 20%);
}

.highlight-2004 {
  fill: $red;
}

.highlight-2016 {
  fill: lighten($red, 20%);
}

.donut-text {
  text-transform: capitalize;
}

// circle nav styles
#fp-nav {
  @include breakpoint(small only) {
    display: none;
  }
  & ul li {
    height: 6px !important;
    & a span {
      background: white !important;
      margin-top: 2px !important;
    }
    & a.active span {
      top: 0px;
      background: none !important;
      border: 1px solid white !important;
    }
    &:hover a.active span {
      background: none !important;
      border: 1px solid white !important;
    }
  }
}

// social share styles
#st-2 {
  z-index: 2;
  & .st-btn {
    background-color: rgba(255,255,255,0.6) !important;
    border-bottom: 1px solid $black;
    border-right: 1px solid $black;
    & .st-label {
      color: $black !important;
    }
    &:hover {
      background-color: white !important;
      width: 100px !important;
    }
    & svg {
      fill: $black;
    }
  }
  & .st-toggle {
    background-color: $red !important;
    & svg {
      fill: $black !important;
    }
  }
}
