<!doctype html>
<html class="no-js" lang="en" ng-app="newspaper">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No News is Bad News: The Political Implications of a Shrinking Newspaper Industry</title>
    <link rel="stylesheet" href="css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/stateface.css">

    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">

    <meta property="og:image" content="http://kierstenschmidt.com/no-news-is-bad-news/images/social.jpg">
    <meta property="og:url" content="http://www.kierstenschmidt.com/no-news-is-bad-news/interactive.html" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="No News is Bad News" />
    <meta property="og:description" content="Explore the state of the newspaper industry" />

    <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=58d98eafff66870012de32d6&product=sticky-share-buttons"></script>
  </head>
  <body id="mobile-interactive">

    <div id="loader-wrapper">
      <div id="loader"></div>
    </div>

    <div class="interactive-footer" ng-controller="NewspaperController as newspaper">
      <div class="container">
        <a href="index.html" class="button" id="back-button"><i class="fa fa-chevron-left" aria-hidden="true"></i> BACK</a>
        <span style="margin:-3.25rem 0 2rem 120px;">No News is Bad News</span>
        <div class="interactive-head">
          <h3>Explore the state of the newspaper industry</h3>
        </div>
        <div class="row" id="states-interactive">
          <div class="columns small-12 medium-8">
            <strong>Full-time statehouse reporters per 10 legislators, 2014</strong>
            <div id="usmap"></div>
            <div class="row map-legend">
              <div class="columns small-12 medium-4">
                0
                <svg width="90" height="12" viewBox="0 0 90 12" xmlns="http://www.w3.org/2000/svg">
                  <defs>
                      <linearGradient id="MyGradient">
                          <stop offset="5%"  stop-color="#e5e2ca"/>
                          <stop offset="95%" stop-color="#52908b"/>
                      </linearGradient>
                  </defs>

                  <rect fill="url(#MyGradient)" x="0" y="0" width="90" height="12"/>
                </svg>
                6
              </div>
              <div class="columns small-12 medium-8">
                <div id="state-name"></div><div id="state-info"></div>
              </div>
            </div>
          </div>
          <div class="columns small-12 medium-4">
            <p class="interactive-info">
              Select a state from the dropdown below to view information about newspapers in that state.
            </p>
            <div class="row no-padding columns expanded">
                <ul class="state-dropdown dropdown menu" data-dropdown-menu data-options="data-close-on-click">
                  <li>
                    <a href="#">Select a state</a>
                    <ul class="menu" id="state-menu">
                      <li ng-click="myFilter = {}"><a href="#">United States</a></li>
                      <li ng-click="myFilter = {state_full: 'Alabama'}"><a href="#">Alabama</a></li>
                      <li ng-click="myFilter = {state_full: 'Alaska'}"><a href="#">Alaska</a></li>
                      <li ng-click="myFilter = {state_full: 'Arizona'}"><a href="#">Arizona</a></li>
                      <li ng-click="myFilter = {state_full: 'Arkansas'}"><a href="#">Arkansas</a></li>
                      <li ng-click="myFilter = {state_full: 'California'}"><a href="#">California</a></li>
                      <li ng-click="myFilter = {state_full: 'Colorado'}"><a href="#">Colorado</a></li>
                      <li ng-click="myFilter = {state_full: 'Connecticut'}"><a href="#">Connecticut</a></li>
                      <li ng-click="myFilter = {state_full: 'Delaware'}"><a href="#">Delaware</a></li>
                      <li ng-click="myFilter = {state_full: 'District of Columbia'}"><a href="#">District of Columbia</a></li>
                      <li ng-click="myFilter = {state_full: 'Florida'}"><a href="#">Florida</a></li>
                      <li ng-click="myFilter = {state_full: 'Georgia'}"><a href="#">Georgia</a></li>
                      <li ng-click="myFilter = {state_full: 'Hawaii'}"><a href="#">Hawaii</a></li>
                      <li ng-click="myFilter = {state_full: 'Idaho'}"><a href="#">Idaho</a></li>
                      <li ng-click="myFilter = {state_full: 'Illinois'}"><a href="#">Illinois</a></li>
                      <li ng-click="myFilter = {state_full: 'Indiana'}"><a href="#">Indiana</a></li>
                      <li ng-click="myFilter = {state_full: 'Iowa'}"><a href="#">Iowa</a></li>
                      <li ng-click="myFilter = {state: 'Kan.'}"><a href="#">Kansas</a></li>
                      <li ng-click="myFilter = {state_full: 'Kentucky'}"><a href="#">Kentucky</a></li>
                      <li ng-click="myFilter = {state_full: 'Louisiana'}"><a href="#">Louisiana</a></li>
                      <li ng-click="myFilter = {state_full: 'Maine'}"><a href="#">Maine</a></li>
                      <li ng-click="myFilter = {state_full: 'Maryland'}"><a href="#">Maryland</a></li>
                      <li ng-click="myFilter = {state_full: 'Massachusetts'}"><a href="#">Massachusetts</a></li>
                      <li ng-click="myFilter = {state_full: 'Michigan'}"><a href="#">Michigan</a></li>
                      <li ng-click="myFilter = {state_full: 'Minnesota'}"><a href="#">Minnesota</a></li>
                      <li ng-click="myFilter = {state_full: 'Mississippi'}"><a href="#">Mississippi</a></li>
                      <li ng-click="myFilter = {state_full: 'Missouri'}"><a href="#">Missouri</a></li>
                      <li ng-click="myFilter = {state_full: 'Montana'}"><a href="#">Montana</a></li>
                      <li ng-click="myFilter = {state_full: 'Nebraska'}"><a href="#">Nebraska</a></li>
                      <li ng-click="myFilter = {state_full: 'Nevada'}"><a href="#">Nevada</a></li>
                      <li ng-click="myFilter = {state_full: 'New Hampshire'}"><a href="#">New Hampshire</a></li>
                      <li ng-click="myFilter = {state_full: 'New Jersey'}"><a href="#">New Jersey</a></li>
                      <li ng-click="myFilter = {state_full: 'New Mexico'}"><a href="#">New Mexico</a></li>
                      <li ng-click="myFilter = {state_full: 'New York'}"><a href="#">New York</a></li>
                      <li ng-click="myFilter = {state_full: 'North Carolina'}"><a href="#">North Carolina</a></li>
                      <li ng-click="myFilter = {state_full: 'North Dakota'}"><a href="#">North Dakota</a></li>
                      <li ng-click="myFilter = {state_full: 'Ohio'}"><a href="#">Ohio</a></li>
                      <li ng-click="myFilter = {state_full: 'Oklahoma'}"><a href="#">Oklahoma</a></li>
                      <li ng-click="myFilter = {state_full: 'Oregon'}"><a href="#">Oregon</a></li>
                      <li ng-click="myFilter = {state_full: 'Pennsylvania'}"><a href="#">Pennsylvania</a></li>
                      <li ng-click="myFilter = {state_full: 'Rhode Island'}"><a href="#">Rhode Island</a></li>
                      <li ng-click="myFilter = {state_full: 'South Carolina'}"><a href="#">South Carolina</a></li>
                      <li ng-click="myFilter = {state_full: 'South Dakota'}"><a href="#">South Dakota</a></li>
                      <li ng-click="myFilter = {state_full: 'Tennessee'}"><a href="#">Tennessee</a></li>
                      <li ng-click="myFilter = {state_full: 'Texas'}"><a href="#">Texas</a></li>
                      <li ng-click="myFilter = {state_full: 'Utah'}"><a href="#">Utah</a></li>
                      <li ng-click="myFilter = {state_full: 'Vermont'}"><a href="#">Vermont</a></li>
                      <li ng-click="myFilter = {state: 'Va.'}"><a href="#">Virginia</a></li>
                      <li ng-click="myFilter = {state_full: 'Washington'}"><a href="#">Washington</a></li>
                      <li ng-click="myFilter = {state_full: 'West Virginia'}"><a href="#">West Virginia</a></li>
                      <li ng-click="myFilter = {state_full: 'Wisconsin'}"><a href="#">Wisconsin</a></li>
                      <li ng-click="myFilter = {state_full: 'Wyoming'}"><a href="#">Wyoming</a></li>
                    </ul>
                  </li>
                </ul>
            </div>
            <div id="state-name-2"><strong>United States</strong></div>
            <div id="state-bars"></div>
            <div id="state-bars-2"></div>
            <div id="state-key">
              <strong class="key-2004">2004</strong>
              <strong class="key-2014">2014</strong><br/>
              <strong>Major metro area:</strong> population over 1 million<br />
              <strong>Minor metro area:</strong> population under 1 million
            </div>
          </div>
        </div>
        <div class="row no-padding">
          <div class="columns small-12 medium-8 top-margin">
            <strong>Look for newspapers in </strong><span id="table-state">United States</span>
          </div>
          <div class="columns small-12 medium-4">
            <div class="input-group">
              <span class="input-group-label"><i class="fa fa-search"></i></span>

              <input type="text" class="form-control" placeholder="Search" ng-model="searchPapers">

            </div>
          </div>
        </div>
        <div class="row table-wrapper">
          <div class="paper-table">
            <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <td>
                      Newspaper name
                    </td>
                    <td>
                      City
                    </td>
                    <td>
                      State
                    </td>
                    <td class="hide-for-small-only">
                      County
                    </td>
                    <td class="hide-for-small-only">
                      Days published
                    </td>
                    <td class="hide-for-small-only">
                      Weekday circulation
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="paper in newspaper.papers | filter:myFilter | filter:searchPapers">

                    <td>{{ ::paper.newspaper_name }}</td>
                    <td>{{ ::paper.city }}</td>
                    <td>{{ ::paper.state }}</td>
                    <td class="hide-for-small-only">{{ ::paper.county }}</td>
                    <td class="hide-for-small-only">{{ ::paper.days_published }}</td>
                    <td class="hide-for-small-only">{{ ::paper.total_circulation | number }}</td>
                  </tr>
                </tbody>
          </table>
          </div>
        </div>
        <footer>
          <p>Data for state of the news industry interactive from <a href="http://newspaperownership.com/" target="_blank">The Rise of a New Media Baron and the Emerging Threat of News Deserts</a>, a study produced by the Center for Innovation and Sustainability in Local Media in the School of Media and Journalism at the University of North Carolina at Chapel Hill.</p>
          <p><a href="index.html">No News is Bad News</a> was researched, written, designed and developed by <a href="http://kierstenschmidt.com" target="_blank">Kiersten Schmidt</a> as a thesis project for completion of the Masters program in visual communication in the School of Media and Journalism at the University of North Carolina at Chapel Hill.</p>
        </footer>
      </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/what-input/dist/what-input.js"></script>
    <script src="bower_components/foundation-sites/dist/js/foundation.min.js"></script>
    <script src="bower_components/foundation-sites/dist/js/plugins/foundation.dropdown.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular_app.js"></script>
    <script src="js/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="js/datamaps.usa.min.js"></script>
    <script src="js/interactive.js"></script>

    <script>
    // adds loaded class to hide loading screen
      $(window).load(function() {
        $('body').addClass('loaded');
      });

      // loads foundation
      $(document).ready(function() {
            $(document).foundation();
         })
    </script>
  </body>
</html>
