<!doctype html>
<html class="no-js" lang="en" ng-app="newspaper">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No News is Bad News: The Political Implications of a Shrinking Newspaper Industry</title>
    <link rel="stylesheet" href="css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/stateface.css">

    <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=58d98eafff66870012de32d6&product=sticky-share-buttons"></script>
  </head>
  <body id="mobile-interactive">
    <div id="loader-wrapper">
      <div id="loader"></div>
    </div>

    <div class="interactive-footer" ng-controller="NewspaperController as newspaper">
      <div class="container">
        <a href="index.html" class="button" id="back-button"><i class="fa fa-chevron-left" aria-hidden="true"></i> BACK</a>
        <span style="margin:-3rem 0 2rem 120px;">No News is Bad News</span>
        <div class="interactive-head">
          <h3>Explore the state of the newspaper industry</h3>
        </div>
        <div class="row" id="states-interactive">
          <div class="columns small-12 medium-8">
            <strong>Full-time statehouse reporters per 10 legislators, 2014</strong>
            <div id="usmap"></div>
            <div class="row map-legend">
              <div class="columns small-12 medium-4">
                0
                <svg width="90" height="12" viewBox="0 0 90 12" xmlns="http://www.w3.org/2000/svg">
                  <defs>
                      <linearGradient id="MyGradient">
                          <stop offset="5%"  stop-color="#e5e2ca"/>
                          <stop offset="95%" stop-color="#52908b"/>
                      </linearGradient>
                  </defs>

                  <rect fill="url(#MyGradient)" x="0" y="0" width="90" height="12"/>
                </svg>
                6
              </div>
              <div class="columns small-12 medium-8">
                <div id="state-name"></div><div id="state-info"></div>
              </div>
            </div>
          </div>
          <div class="columns small-12 medium-4">
            <p class="interactive-info">
              Select a state from the dropdown below to view information about newspapers in that state.
            </p>
            <select class="state-dropdown" ng-model="nameSearch.state_full">
              <option ng-click="myFilter = {}">United States</option>
              <option ng-click="myFilter = {state_full: 'Alabama'}">Alabama</option>
              <option ng-click="myFilter = {state_full: 'Alaska'}">Alaska</option>
              <option ng-click="myFilter = {state_full: 'Arizona'}">Arizona</option>
              <option ng-click="myFilter = {state_full: 'Arkansas'}">Arkansas</option>
              <option ng-click="myFilter = {state_full: 'California'}">California</option>
              <option ng-click="myFilter = {state_full: 'Colorado'}">Colorado</option>
              <option ng-click="myFilter = {state_full: 'Connecticut'}">Connecticut</option>
              <option ng-click="myFilter = {state_full: 'Delaware'}">Delaware</option>
              <option ng-click="myFilter = {state_full: 'District of Columbia'}">District of Columbia</option>
              <option ng-click="myFilter = {state_full: 'Florida'}">Florida</option>
              <option ng-click="myFilter = {state_full: 'Georgia'}">Georgia</option>
              <option ng-click="myFilter = {state_full: 'Hawaii'}">Hawaii</option>
              <option ng-click="myFilter = {state_full: 'Idaho'}">Idaho</option>
              <option ng-click="myFilter = {state_full: 'Illinois'}">Illinois</option>
              <option ng-click="myFilter = {state_full: 'Indiana'}">Indiana</option>
              <option ng-click="myFilter = {state_full: 'Iowa'}">Iowa</option>
              <option ng-click="myFilter = {state_full: 'Kansas'}">Kansas</option>
              <option ng-click="myFilter = {state_full: 'Kentucky'}">Kentucky</option>
              <option ng-click="myFilter = {state_full: 'Louisiana'}">Louisiana</option>
              <option ng-click="myFilter = {state_full: 'Maine'}">Maine</option>
              <option ng-click="myFilter = {state_full: 'Maryland'}">Maryland</option>
              <option ng-click="myFilter = {state_full: 'Massachusetts'}">Massachusetts</option>
              <option ng-click="myFilter = {state_full: 'Michigan'}">Michigan</option>
              <option ng-click="myFilter = {state_full: 'Minnesota'}">Minnesota</option>
              <option ng-click="myFilter = {state_full: 'Mississippi'}">Mississippi</option>
              <option ng-click="myFilter = {state_full: 'Missouri'}">Missouri</option>
              <option ng-click="myFilter = {state_full: 'Montana'}">Montana</option>
              <option ng-click="myFilter = {state_full: 'Nebraska'}">Nebraska</option>
              <option ng-click="myFilter = {state_full: 'Nevada'}">Nevada</option>
              <option ng-click="myFilter = {state_full: 'New Hampshire'}">New Hampshire</option>
              <option ng-click="myFilter = {state_full: 'New Jersey'}">New Jersey</option>
              <option ng-click="myFilter = {state_full: 'New Mexico'}">New Mexico</option>
              <option ng-click="myFilter = {state_full: 'New York'}">New York</option>
              <option ng-click="myFilter = {state_full: 'North Carolina'}">North Carolina</option>
              <option ng-click="myFilter = {state_full: 'North Dakota'}">North Dakota</option>
              <option ng-click="myFilter = {state_full: 'Ohio'}">Ohio</option>
              <option ng-click="myFilter = {state_full: 'Oklahoma'}">Oklahoma</option>
              <option ng-click="myFilter = {state_full: 'Oregon'}">Oregon</option>
              <option ng-click="myFilter = {state_full: 'Pennsylvania'}">Pennsylvania</option>
              <option ng-click="myFilter = {state_full: 'Rhode Island'}">Rhode Island</option>
              <option ng-click="myFilter = {state_full: 'South Carolina'}">South Carolina</option>
              <option ng-click="myFilter = {state_full: 'South Dakota'}">South Dakota</option>
              <option ng-click="myFilter = {state_full: 'Tennessee'}">Tennessee</option>
              <option ng-click="myFilter = {state_full: 'Texas'}">Texas</option>
              <option ng-click="myFilter = {state_full: 'Utah'}">Utah</option>
              <option ng-click="myFilter = {state_full: 'Vermont'}">Vermont</option>
              <option ng-click="myFilter = {state_full: 'Virginia'}">Virginia</option>
              <option ng-click="myFilter = {state_full: 'Washington'}">Washington</option>
              <option ng-click="myFilter = {state_full: 'West Virginia'}">West Virginia</option>
              <option ng-click="myFilter = {state_full: 'Wisconsin'}">Wisconsin</option>
              <option ng-click="myFilter = {state_full: 'Wyoming'}">Wyoming</option>
            </select>
            <div id="state-name-2"><strong>United States</strong></div>
            <div id="state-bars"></div>
            <div id="state-bars-2"></div>
          </div>
        </div>
        <div class="row no-padding">
          <div class="columns small-12 medium-8 top-margin">
            <strong>Look for newspapers in </strong><span id="table-state">United States</span>
          </div>
          <div class="columns small-12 medium-4">
            <div class="input-group">
              <span class="input-group-label"><i class="fa fa-search"></i></span>

              <input type="text" class="form-control" placeholder="Search" ng-model="searchPapers">

            </div>
          </div>
        </div>
        <div class="row table-wrapper">
          <div class="paper-table">
            <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <td>
                      Newspaper name
                    </td>
                    <td>
                      City
                    </td>
                    <td>
                      State
                    </td>
                    <td class="hide-for-small-only">
                      County
                    </td>
                    <td class="hide-for-small-only">
                      Days published
                    </td>
                    <td class="hide-for-small-only">
                      Weekday circulation
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="paper in newspaper.papers | filter:nameSearch | filter:myFilter | filter:searchPapers">
                    <!-- <td><img src="{{ player.images[0] }}" class="img-responsive"></td> -->

                    <td>{{ ::paper.newspaper_name }}</td>
                    <td>{{ ::paper.city }}</td>
                    <td>{{ ::paper.state }}</td>
                    <td class="hide-for-small-only">{{ ::paper.county }}</td>
                    <td class="hide-for-small-only">{{ ::paper.days_published }}</td>
                    <td class="hide-for-small-only">{{ ::paper.total_circulation | number }}</td>
                  </tr>
                </tbody>
          </table>
          </div>
        </div>
        <footer>
          <p>Data for state of the news industry interactive from <a href="http://newspaperownership.com/" target="_blank">The Rise of a New Media Baron and the Emerging Threat of News Deserts</a>, a study produced by the Center for Innovation and Sustainability in Local Media in the School of Media and Journalism at the University of North Carolina at Chapel Hill.</p>
          <p><a href="index.html">No News is Bad News</a> was researched, written, designed and developed by <a href="http://kierstenschmidt.com" target="_blank">Kiersten Schmidt</a> as a thesis project for completion of the Masters program in visual communication in the School of Media and Journalism at the University of North Carolina at Chapel Hill.</p>
        </footer>
      </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/what-input/dist/what-input.js"></script>
    <script src="bower_components/foundation-sites/dist/js/foundation.js"></script>
    <script src="js/enquire.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular_app_mobile.js"></script>
    <script src="js/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="js/datamaps.usa.min.js"></script>
    <script src="js/interactive.js"></script>

    <script>
      $(window).load(function() {
        $('body').addClass('loaded');
      });
    </script>
  </body>
</html>
